#header {
    background-color: green;
    color: white;
}

#form {
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    border: 1px solid black;
}

#footer {
    background-color: blue;
    color: white;
}

#form input {
    margin: 10px;
    padding: 10px;
}