.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination a {
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px 10px;
    margin: 0 5px;
}

.pagination a.active {
    background-color: #000;
    color: #fff;
}