/* basic styling */
.box {
    border: 3px dotted red;
    width: 200px;
    height: 100px;
}

div {
    margin: 200px 0px;
}

body > div:first-child {
    margin: 0px;
}

/* overflow */

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}