.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
}

.menu li {
    background-color:darkcyan;
    padding: 10px 35px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.menu li:hover {
    background-color: green;
}

.menu li a{
    color: #fff;
}

/* Positioning properties */

header {
    position: fixed;
    top: 25px;
}

main {
    margin-top: 75px;
}

.title {
    position: sticky;
    top: 75px;
}

/* above: fixed and sticky */

/* .image {
    position: absolute;
} */

/* .description {
    position: relative;
} */

.content {
    position: relative;
    margin: 0 auto;
}

/* takes the image out of the normal flow of the document */
.image {
    position: absolute;
    left: 0;
}

/* sets the element relative to the normal flow of the document */
.description {
    position: relative;
    margin-left: 500px;
}

